  <script type="text/javascript">
$(document).ready(function(){
	
	//toggle comment
	$(".note").click(function(){
		$(this).next(".cm").toggle("bounce",{},500);
		return false;
	});

	//collapse all messages
		$(".show_all_message").click(function(){
		$(this).hide()
		$("div.comment").hide("bounce",{},500);
		return false;
	});

	//show all messages
	$(".show_all_message").click(function(){
		$(this).hide()
		$("div.comment").show("bounce",{},500);
		return false;
	});


});	
</script>
     
  <div class="text-header">Recent notes</div>
<%= paginate @fts	 %>

<% for ft in @fts %>




       <div class="note">
    
	    <div class="notet"></div> <div class="clear"></div> <div class="notec"> 
      
        <div class="text-note">
	                <ul>

<li><a href="/fortunes/<%=ft.id%>"></a><%= ft.content %> </li>

</ul>
 </div>
  
      </div> <div class="clear"></div> 
      
      <div class="noteb"> </div>
      <div class="clear"></div>
            
	 
	    </div> 
	  <div class="cm"> <div class="cm_inner">

	 #<%= ft.id %>, Notatka dodana: <%= ft.created_at %> <br />
	 		<div style="text-align:right;"><a href="/fortunes/<%= ft.id %>">Wiecej</a></div>


	  	 </div> </div> 
	    <% end %>
	    <p class="collapse_buttons"><a href="#" class="show_all_message">Show all comment</a> <a href="#" class="show_recent_only">Show 5 only</a> <a href="#" class="collpase_all_message">Collapse all</a></p>
	    