<div class="text-header">Note #<%=@ft.id%></div>

 <div class="note">
	    <div class="notet"></div> <div class="clear"></div> <div class="notec"> 
      
        <div class="text-note">
	       Fortunka id (<%=@ft.id%>)

<br />
<%= @ft.content %><br />
<br />
<b>Autor:</b> <%= @ft.autor %><br />
<b>Data dodania:</b> <%= @ft.created_at %>
<br /><br />
<a href="/fortunes">Cofnij </a> | <a href="/fortunes/<%=@ft.id %>/edit">Edytuj</a>

 </div>
 </div>
  <div class="clear"></div> 
      
      <div class="noteb"> </div>
      <div class="clear"></div> 
 </div>
<div class="comment2"><div class="comment_inner">
 	<% if @ft.comments.any? %>
  <h2>Comments</h2>
  <% @ft.comments.each do |comment| %>
   <p>Autor:<br><%= comment.author %></p>
   <p><%= comment.body %></p>
   <p>
     <%= link_to "Delete", [@ft, comment], :confirm => t('helpers.data.sure'), :method => :destroy %>
   </p>
 <% end %> 
 <% end %> 
   <h2>Add new comment</h2>
<%= render :partial => 'comments/form' %>

</div></div>
